
<div style="background-image: url('https://www.shutterstock.com/shutterstock/photos/1719019480/display_1500/stock-photo-pink-color-background-color-gradation-pink-wallpaper-d-rendering-1719019480.jpg');">
<center><h1 style="color:rgb(100, 50, 20);">Instagram</h1><br>
</center>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<%= link_to 'Home', forhomee_path %>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

<p><i><b>Instagram was originally distinguished by allowing content to be framed only in a square (1:1) aspect ratio of 640 pixels to match the display width of the iPhone at the time. In 2015, this restriction was eased with an increase to 1080 pixels. It also added messaging features, the ability to include multiple images or videos in a single post, and a Stories feature—similar to its main competitor Snapchat—which allowed users to post their content to a sequential feed, with each post accessible to others for 24 hours. As of January 2019, Stories is used by 500 million people daily.[11]

Originally launched for iOS in October 2010 by Kevin Systrom and Mike Krieger, Instagram rapidly gained popularity, with one million registered users in two months, 10 million in a year, and 1 billion by June 2018. In April 2012, Facebook Inc. acquired the service for approximately US$1 billion in cash and stock. The Android version of Instagram was released in April 2012, followed by a feature-limited desktop interface in November 2012, a Fire OS app in June 2014, and an app for Windows 10 in October 2016. As of October 2015, over 40 billion photos had been uploaded. Although often admired for its success and influence, Instagram has also been criticized for negatively affecting teens' mental health, its policy and interface changes, its alleged censorship, and illegal and inappropriate content uploaded by users.</p></i></b>


<img src="https://www.shutterstock.com/blog/wp-content/uploads/sites/5/2022/05/Emma-Hill-Instagram-post-example.png?w=720" width="350" height="300"><br>

<p><i>I think nature is my color.</i></p>

&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<img src="https://xoxobella.com/wp-content/uploads/2020/08/instagram_captions_for_nature_photos-2.jpg" width="350" height="300">

